html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App {
  position: relative;
  width: 100%;
  height: 100%;
  &-header {
    position: fixed;
    width: 100vw;
    height: 70px;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #61dafb;
    color: #282c34;
    z-index: 1;
  }
  &-main {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 70px);
    padding: 30px;
    background-color: #282c34;
    color: #f3f3f3;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    table {
      width: 100%;
      thead {
        tr {
          background-color: #61dafb;
          color: #282c34;
          th {
            text-align: center;
            padding: 0 5px;
          }
        }
      }
      tbody {
        tr {
          background-color: #f3f3f3;
          color: #282c34;
          td {
            text-align: center;
            padding: 5px;
            &.green {
              color: green;
            }
            &.red {
              color: red;
            }
            input {
              background-color: #f3f3f3;
              border: 1px solid #282c34;
              height: 30px;
              width: 100%;
              font-size: 16px;
              outline: none;
              text-align: center;
              box-sizing: border-box;
              &[type="submit"] {
                width: 100%;
                background-color: #61dafb;
                outline: none;
                cursor: pointer;
              }
            }
          }
          &:nth-child(even) {
            background-color: lighten(#282c34, 50%);
            color: #f3f3f3;
          }
        }
      }
    }
  }
  &-loader {
    background-color: transparent !important;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #61dafb !important;
  }
  &-footer {
    width: 100vw;
    height: 70px;
    text-align: center;
    background-color: #61dafb;
  }
}
